/*SIDE NAV*/

.bd-layout {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 1fr 5fr;
  gap: 1.5rem;
}

.bd-sidebar {
  grid-area: sidebar;
  border-right: 0.5px solid rgba(0,0,0,0.2); 
}
.bd-links {
  display:block !important;
  
}

.bd-links .btn {
  padding: .30rem 1.15rem;
  border: 0;
  font-size: 1.5rem;
  font-weight: 500;

}

.bd-links a {
  padding: .1875rem .25rem;
  margin-left: 1.25rem;
  text-decoration: none;
  margin-top: .125rem;
  font-size: 1.2rem;
}

.bd-navbar .dropdown-menu {
  font-size: .875rem;
}

/*SIDE NAV END */

.bd-main {
  grid-area: main;
  min-height: 100vh;
  padding: .875rem 2rem;
}

.bd-main > h1 {
  margin-bottom: 2rem;
}

.section-index {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  gap: 2rem;
  
}

.section-index > div {
  margin-bottom: .50rem;
  font-weight: 550;
  font-size: 1rem;
}

.section-index a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

 .text-center a,.text-end a {
  color: azure;
} 

.bd-main .addItem{
  display: flex;
  flex: 1;
  width: 100%;
}

.bd-main .addItem > div {
  width: 50%;
  justify-content: space-between;
}
.bd-main .addItem > div a {
  text-align: end;
}

table thead {
  color: white;
}

table tbody td > a {
  text-decoration: none;
}


.ck > p {
  margin: 0 !important;
}

.ck .ck-content {
  min-height: 10vh;
}