header {
  width: 100%;
  display: grid;
  grid-template-rows: 2fr;
  margin-bottom: 30px;
  padding-top: 30px;
}

header .header-upside {
  justify-content: space-between;
  display: inline-flex;
  margin: 0 62px;
}

header .logo {
  height: 100%;
  width: 100%;
}

header .header-menu {
  margin-top: 20px;
  background-color: var(--menu-color);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/graphic/layout/menu_home.png);
}

header .header-menu ul li a {
  color: #fff;
  margin-left: 23px;
}

/*PHONE MENU*/

header .phone-menu {
  height: 100%;
  width: 0; position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--menu-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

header .phone-menu .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 60px;
  padding: 20px;
}

header .phone-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.active {
  background-color: khaki;
}

header .phone-menu .icon { 
  display: none;

}


.dropdown {
  overflow: hidden;
  color: #818181;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  margin: 0;
  color: #fff;
  background-color: unset;
  font-size: 25px;
  display: block;
  padding: 8px 8px 8px 32px;
  transition: 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5e443e;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 8px 8px 8px 32px;
  background-color: white;
}

.dropdown-content a {
  float: none;
  color: var(--menu-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {

  .phone-menu a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .phone-menu.responsive {position: relative;}
  .phone-menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .phone-menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .phone-menu.responsive .dropdown {float: none;}
  .phone-menu.responsive .dropdown-content {position: relative;}
  .phone-menu.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}