{% extends "adminLayout.njk" %}

{% block content %}

<h1>Administração Site</h1>

<section class="section-index">

    <div class=""><a href="/admin/artigos">Artigos</a></div>
    <div class="text-end"><a href="/admin/artigos/create" class="btn-sm bg-primary">Novo</a></div>
    <div class="text-center"><a href="" class="btn-sm bg-success">Editar</a></div>

    <div class=""><a href="">Eventos</a></div>
    <div class="text-end"><a href="" class="btn-sm bg-primary">Novo</a></div>
    <div class="text-center"><a href="" class="btn-sm bg-success">Editar</a></div>

    <div class=""><a href="">Imagens</a></div>
    <div class="text-end"><a href="" class="btn-sm bg-primary">Novo</a></div>
    <div class="text-center"><a href="" class="btn-sm bg-success">Editar</a></div>

    <div class=""><a href="">Midia</a></div>
    <div class="text-end"><a href="" class="btn-sm bg-primary">Novo</a></div>
    <div class="text-center"><a href="" class="btn-sm bg-success">Editar</a></div>


</section>
    

{% endblock %}