{% extends "layout.njk" %}

{% block content %}

  <section id="main-featured">
    <div class="title">
      <h3>Bem Vindo</h3>
    </div>
      <img src="/images/graphic/layout/banner_home_website.jpg" alt="">
  </section>
      <!-- /.section-header -->

  <section id="albun">
    <div class="title">
      <h3>Fotos em destaques e animais para venda</h3>
    </div>
    <div class="album-photos">
      <div class="photo">
        <a href="">
          <img src="\images\graphic\uploads\galeria\1394317_745669622114498_1235974277_n-Shop.jpg" alt="">
        </a>
      </div>

      <div class="photo">
        <a href="">
          <img src="\images\graphic\uploads\galeria\1394317_745669622114498_1235974277_n-Shop.jpg" alt="">
        </a>
      </div>

      <div class="photo">
        <a href="">
          <img src="\images\graphic\uploads\galeria\1394317_745669622114498_1235974277_n-Shop.jpg" alt="">
        </a>
      </div>

      <div class="photo">
        <a href="">
          <img src="\images\graphic\uploads\galeria\1394317_745669622114498_1235974277_n-Shop.jpg" alt="">
        </a>
      </div>
      <div class="photo">
        <a href="">
          <img src="\images\graphic\uploads\galeria\1394317_745669622114498_1235974277_n-Shop.jpg" alt="">
        </a>
      </div>
      <div class="photo">
        <a href="">
          <img src="\images\graphic\uploads\galeria\1394317_745669622114498_1235974277_n-Shop.jpg" alt="">
        </a>
      </div>
      <div class="photo">
        <a href="">
          <img src="\images\graphic\uploads\galeria\1394317_745669622114498_1235974277_n-Shop.jpg" alt="">
        </a>
      </div>
      <div class="photo">
        <a href="">
          <img src="\images\graphic\uploads\galeria\1394317_745669622114498_1235974277_n-Shop.jpg" alt="">
        </a>
      </div>
    </div>
  </section>
      <!-- /.albun -->


    <section id="articles">
      <div class="title">
        <h3>Artigos em destaque</h3>
      </div>
      <div class="card">
        <div class="card-title">
          <h2>POR QUE O BURRO VALE MENOS QUE BURRO ?</h2>
        </div>
        <div class="card-body">
          <p>Um preconceito que permanece até os dias de hoje.</p>
          <a href="">Ler artigo</a>
        </div>
      </div>
    </section>

    
  
      <!-- /.articles -->
{% endblock %}

