{% extends "adminLayout.njk" %}

{% block content %}
    <div class="d-grid gap-2 mb-3">
    <a href="/admin/artigos/categorias/create"class="btn btn-primary btn-lg">
      Adicionar Categoria +
    </a>
  </div>
{% endblock %}
