{% extends "adminLayout.njk" %}

{% block content %}
<h1>indexx
</h1>
  {# <section class="container text-center py-5">
    <h1>Title</h1>
  </section>

<section>
  <div class="row shadow-sm">
    <div class="col">Artigos</div>
    <div class="col"><a href="">Novo</a></div>
    <div class="col"><a href="">Editar</a></div>
  </div>

  <div class="row shadow-sm">
    <div class="col">Eventos</div>
    <div class="col"><a href="">Novo</a></div>
    <div class="col"><a href="">Editar</a></div>
  </div>

  <div class="row shadow-sm">
    <div class="col">Fotos</div>
    <div class="col"><a href="">Novo</a></div>
    <div class="col"><a href="">Editar</a></div>
  </div>

  <div class="row shadow-sm">
    <div class="col">Livros</div>
    <div class="col"><a href="">Novo</a></div>
    <div class="col"><a href="">Editar</a></div>
  </div>
</section> #}
    

{% endblock %}