{% extends "adminLayout.njk" %}

{% block content %}

<h1>Administração Site</h1>

<section class="section-index">

    <div class="">Artigos</div>
    <div class="text-end"><a href="">Novo</a></div>
    <div class="text-center"><a href="">Editar</a></div>

    <div class="">Eventos</div>
    <div class="text-end"><a href="">Novo</a></div>
    <div class="text-center"><a href="">Editar</a></div>

    <div class="">Imagens</div>
    <div class="text-end"><a href="">Novo</a></div>
    <div class="text-center"><a href="">Editar</a></div>

    <div class="">Midia</div>
    <div class="text-end"><a href="">Novo</a></div>
    <div class="text-center"><a href="">Editar</a></div>


</section>
    

{% endblock %}