{% extends "adminLayout.njk" %}
  {% block content %}
  <!--Artigos-->
  <div class="box mt-3">
    <div class="row box-title">
      <h3>Artigos</h3>
    </div> 
    <div class="row d-flex justify-content-center p-1">
      <div class="col-lg-8 col-md-7 col-sm-5 col-5">
        <span>Artigos</span>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="/admin/post/create">Novo</a>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="http://">Editar</a>
      </div>
    </div>

    <div class="row d-flex justify-content-center p-1">
      <div class="col-lg-8 col-md-7 col-sm-5 col-5">
        <span>Categoria dos artigos</span>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="http://">Novo</a>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="http://">Editar</a>
      </div>
    </div>

    <div class="row d-flex justify-content-center p-1">
      <div class="col-lg-8 col-md-7 col-sm-5 col-5">
        <span>Grupo dos artigos</span>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="http://">Novo</a>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="http://">Editar</a>
      </div>
    </div>
  </div>
  <!--Artigos-End-->

  <!--Eventos-->
  <div class="box mt-3">
    <div class="row box-title">
      <h3>Eventos</h3>
    </div>
    <div class="row d-flex justify-content-center p-1">
      <div class="col-lg-8 col-md-7 col-sm-5 col-5">
        <span>Adverts</span>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="http://">Novo</a>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="http://">Editar</a>
      </div>
    </div>
    <div class="row d-flex justify-content-center p-1">
      <div class="col-lg-8 col-md-7 col-sm-5 col-5">
        <span>Eventos</span>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="http://">Novo</a>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="http://">Editar</a>
      </div>
    </div>
  </div>
  <!--Eventos-End-->

  <!--Imagens-->
  <div class="box mt-3">
    <div class="row box-title">
      <h3>Imagens</h3>
    </div>
    <div class="row d-flex justify-content-center p-1">
      <div class="col-lg-8 col-md-7 col-sm-5 col-5">
        <span>Categorias</span>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="http://">Novo</a>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="http://">Editar</a>
      </div>
    </div>
    
    <div class="row d-flex justify-content-center p-1">
      <div class="col-lg-8 col-md-7 col-sm-5 col-5">
        <span>Imagens</span>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="http://">Novo</a>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="http://">Editar</a>
      </div>
    </div>
  </div>
  <!--Imagens-End-->

  <!--Livros-->
  <div class="box mt-3">
    <div class="row box-title">
      <h3>Livros</h3>
    </div>
    <div class="row d-flex justify-content-center p-1">
      <div class="col-lg-8 col-md-7 col-sm-5 col-5">
        <span>Livros</span>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="http://">Novo</a>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="http://">Editar</a>
      </div>
    </div>
  </div>
  <!--Livros-End-->

  <!--Videos-->
  <div class="box mt-3">
    <div class="row box-title">
      <h3>Videos</h3>
    </div>
    <div class="row d-flex justify-content-center p-1">
      <div class="col-lg-8 col-md-7 col-sm-5 col-5">
        <span>Videos</span>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="http://">Novo</a>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-3">
        <a href="http://">Editar</a>
    </div>
  </div>
  <!--Videos-End-->
  
  
{% endblock %}