{% extends "adminLayout.njk" %}

{% block content %}
  <form action="/admin/artigos/article" method="POST">
  
    {% include 'pages/admin/artigos/article/fields.njk' %}

    <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
  </form>

{% endblock %}
