<div class="item">
  <div class="form-label">Titutlo</div>
    <input type="text" name="title" class="form-control">
  </div>

  <div class="item">
  <div class="form-label">Descrição</div>
    <input type="text" name="description" class="form-control">
  </div>

  <div class="item">
    <div id="editor">
      <textarea name="post_body" class="form-control" id="editor" cols="30"  rows="10"></textarea>
    </div>
  </div>
  

  <div class="item" name="">
    <div class="form-label">categoria</div>
    <select  class="form-select" value="category">
      <option value="">categoria</option>
    </select>
  </div>

  <div class="item">
    <input  class="form-check-input" type="checkbox" name="highlight" id="highlight">
    <label class="form-check-label" for="highlight">Destacar</label>
  </div>
