<div class="item">
  <div>Titutlo</div>
    <input type="text" name="post_title">
  </div>

  <div class="item">
  <div>Descrição</div>
    <input type="text" name="post_description">
  </div>

  <di id="editor">
    <textarea name="post_content" id="" cols="30" rows="10"></textarea>
  </di>

  <div class="item">
    <div>categoria</div>
    <select value="category">
      <option value="">categoria</option>
    </select>
  </div>

  <div class="item">
    <input type="radio" name="highlight" id="highlight">
    <label for="highlight">Destacar</label>
  </div>
