<div class="item">
  <div class="form-label">Titutlo</div>
    <input type="text" name="title" class="form-control" value={{article.title}}>
  </div>

  <div class="item">
  <div class="form-label">Descrição</div>
    <input type="text" name="description" class="form-control" value="{{article.description}}">
  </div>

  <div id="editor">
        <p>This is some sample content.</p>
    </div>
  

  <div class="item" name="">
    <div class="form-label">categoria</div>
      <select  class="form-select" name="category_id">
      {% for category in categories %}
       <option value={{category.id}}>{{category.name}}</option>
       {% endfor %}
      </select>
    
  </div>


  <div class="item">
    <input  
      class="form-check-input" 
      type="checkbox" 
      name="status"
      onchange="checkState(this)"
      {% if article.status == '1' %}
        checked
      {% endif %}
      
      />
    <label class="form-check-label">Destacar</label>
  </div>



