.bd-layout {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 1fr 5fr;
  gap: 1.5rem;
}

.bd-sidebar {
  grid-area: sidebar;
}
.bd-links {
  display:block !important
}

.bd-links .btn {
  border: 0;
}

.dropdown, .droped, .dropstart, .dropup {
  position: relative;
}

.bd-navbar .dropdown-menu {
  font-size: .875rem;
}

.bd-subnavbar .dropdown-item.current {
  font-weight: 600;

  background-repeat: no-repeat;
  background-position: right 1rem top 0.6rem;
  background-size: .75rem .75rem;
}