.w100 {
  width: 100px;
}

footer {
  width: 100%;
  background-image: url(/images/graphic/layout/footer_mountain.png);
}

.footer-title {
  margin-bottom: 5px; 
}

.footer-title span {
  
  border-bottom: #fff 1px solid;
}

.footer-top img ,
.footer-down img {
  margin-right: 10px ;
}

footer .muleiro {
  background-image: url(/images/graphic/layout/footer_muladeiro.png);
  width: 1249px;
  height: 657px;
  margin: 0 auto;
  margin-bottom: 2px;
}

footer .redRibbon {
  width: 100%;
  height: 230px;
  background: url(/images/graphic/layout/footer_red_ribbon.jpg) repeat-x;
  padding: 20px 20px;
  color: #fff;
}

footer .redRibbon .footer-content {
  width: 65%;
  margin: 0 auto;
  height: 100%;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
}

footer .redRibbon .footer-content .footer-top {
  width:50%;
  height: 100%;
  float: left;
  display: grid;
  align-content: space-around;
  justify-items: center;
  grid-template-columns: 2fr 2fr;

  
}

footer .redRibbon .footer-content .footer-down {
  width: 50%;
  height: 100%;
  float: right;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

