:root {
  --menu-color: #5f2e24;
  --title-background: #a21716
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: url(../images/graphic/layout/BG.jpg);
  color: #fff;
  line-height:1.6em;
  font-size: 100%;
  font-family: 'Libre Baskerville', serif;

}
.clear {
  clear: both;
}
.wrapper {
  max-width: 1172px;
  margin: 0 auto;
}

a {
  color: #fff;
}

main {
  padding: 20px 22px;
  min-height: 145vh;
  width: 80%;
  background-color: #fff;
  float: right;
}

.title {
  width: 100%;
  background-color: var(--menu-color);
  height: 28px;
  border-bottom: 3px solid #a5727c;
  
}

.title > h3 {
  background-color: var(--title-background) ;
  opacity: 0.9;
  display: inline-block;
  padding: 8px 10px;
  margin-left: 6px;
  margin-top: 4px;
  font-size: 20px;
}

