:root {
  --menu-color: #5f2e24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
  line-height:1.6em;
  font-size: 100%;
  font-family: 'Libre Baskerville', serif;
}

body {
  min-height: 100vh;
  background: url(../images/graphic/layout/BG.jpg);

}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

main{
  background-color: white;
  height: 100vh;
}