header {
  width: 100%;
  display: grid;
  grid-template-rows: 2fr;
  margin-bottom: 30px;
  padding-top: 30px;
}

header .header-upside {
  justify-content: space-between;
  display: inline-flex;
  margin: 0 62px;
}

header .logo {
  height: 100%;
  width: 100%;
}

header .header-menu {
  margin-top: 20px;
  background-color: var(--menu-color);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/graphic/layout/menu_home.png);
}

header .header-menu ul li a {
  color: #fff;
  margin-left: 23px;
}