.header-menu span {
  display: none;
}



@media screen and (max-width: 1075px) {
  .wrapper {
    width: 100%;
  }

  .content {
    margin-right: 10px;
  }

  .header-menu span {
    display: none;
  }



  main{
    width: 78%;
    float: right;
    margin: 0 5px;
  }
  /*SIDE-MENU*/
  aside {width: 20%;}
  .sidebar-title{ 
    margin-left: 1px; 
    width: 100%;
    background-color: rgb(187,45,41);
    text-align: center;
  }
  .sidebar-links {
    width: 90%;
    
  }
  .sidebar-links ul li a {
    font-size: 12px;
  }
  /*SIDE-MENU END*/

  /*FOOTER*/
  footer .muleiro {
    height: 90vh;
  }
  /*FOOTER-END*/
}

@media screen and (max-width:670px) {
  header .header-upside {
    margin: 0;
  }

  header nav ul {
    display: none;
  }

  header .header-menu {
    justify-content: end;
    padding-left: 20px;
  }

  .header-menu span {
    display: block;
  }

  .phoneMenu { 
    display: flex;
    margin-left: 10px;
    font-size: 28px;
  }
 
  .social-links {
    display: none;
  }

  aside {
    min-height: unset;
    display: none;
  }

  main {
    width: 99%;
    margin: 0;
  }

  main .title {
    height: unset;
  }

  .title > h3 {
    width: 100%;
    margin: 0;
  }
  .album-photos {
    grid-template-columns: repeat(2, 1fr);
  }

  footer .muleiro {
    background-repeat: no-repeat;
    background-position: initial;
  }

  footer .redRibbon .footer-content {
    width: 100%;
  }
}