aside {
  min-height: 100vh;
  float: left;
  width:212px;
}

aside .sidebar-menu {
 padding-top: 30px;
 background-color: var(--menu-color);
 display: flow-root;
}



.sidebar-title {
  text-transform: uppercase;
  margin-left: -20px;
  width: 245px;
  padding: 8px 12px 0 0;
  text-align: right;
  color: #fff;
  font-size: 1rem;
  clear: both;
  box-shadow: 0 3px 0 0 rgba(0,0,0,0.5);
  margin-bottom: 20px;
  background: url(/images/graphic/layout/sideBarTittleBG.png) no-repeat;
}

.sidebar-links {
  width: 72%;
  margin: 0 auto;
}

.sidebar-links ul {
  text-align: center;
  margin-bottom: 40px;
 
}

.sidebar-links ul li {
  width: 100%;
  padding-bottom: 7px;
  margin-top: 7px;
  border-bottom: 3px solid #fff
}

.sidebar-links ul li a{
  font-size: 14px;
}


section.sidebar-banners .advert {
  width: 212px;
  height: 239px;
  background-color: #a21716;
  margin-top: 10px;
}

