<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  {% include "styles.njk" %}
  <title>Document</title>
</head>
<body>
  
    {% include "parts/header.njk" %}
    <div class="clear"></div>

    <div class="wrapper">
      <div class="content">
        {% include "parts/sidebar.njk" %}
        <main>
          {% block content %}
          {% endblock %}
        </main>
      </div>
      <div class="clear"></div>
    </div>

  {% include "parts/footer.njk" %}
</body>
</html>