<aside class="bd-sidebar">
      <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Docs navigation">
        <ul class="list-unstyled mb-0 py-3 pt-md-1">
          <li class="mb-1">
            <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Articles" aria-expanded="false">
              Artigos
            </button>
            <div class="collapse" id="Articles">
              <ul class="list-unstyled fw-normal pb-1 small">
                <li>
                  <a href="" class="d-inline-flex align-items-center rounded">Artigos</a>
                </li>
                <li>
                  <a href="" class="d-inline-flex align-items-center rounded">Categoria dos Artigos</a>
                </li>
                <li>
                  <a href="" class="d-inline-flex align-items-center rounded">Grupo dos Artigos</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Events" aria-expanded="false">
              Eventos
            </button>
            <div class="collapse" id="Events">
              <ul class="list-unstyled fw-normal pb-1 small">
                <li>
                  <a href="" class="d-inline-flex align-items-center rounded">Adverts</a>
                </li>
                <li>
                  <a href="" class="d-inline-flex align-items-center rounded">Eventos</a>
                </li>         
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Images" aria-expanded="false">
              Imagens
            </button>
            <div class="collapse" id="Images">
              <ul class="list-unstyled fw-normal pb-1 small">
                <li>
                  <a href="" class="d-inline-flex align-items-center rounded">Categorias</a>
                </li>
                <li>
                  <a href="" class="d-inline-flex align-items-center rounded">Imagens</a>
                </li>         
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Media" aria-expanded="false">
              Midia
            </button>
            <div class="collapse" id="Media">
              <ul class="list-unstyled fw-normal pb-1 small">
                <li>
                  <a href="" class="d-inline-flex align-items-center rounded">Livros</a>
                </li>
                <li>
                  <a href="" class="d-inline-flex align-items-center rounded">Videos</a>
                </li>         
              </ul>
            </div>
          </li>

        </ul>
      </nav>
    </aside>
