<footer>
  <div class="muleiro"></div>

  <div class="redRibbon">
    <div class="footer-content">
      <div class="footer-top">
        <a href="">HOME</a>
        <a href="">FOTOS</a>
        <a href="">CONTATOS</a>
        <a href="">EVENTOS</a>
        <a href="">VIDEOS</a>
        <a href="">LIVROS</a>
      </div>

      <div class="footer-down">
        <div class="parceiros">
         <div class="footer-title"><span>Parceiros</span></div>
            <a href="http://www.campolina.org.br/portal/"><img src="/images/graphic/publi/campolino.png" alt=""></a>
            <a href="http://www.abcjpega.com.br/"><img src="/images/graphic/publi/abcjpega.png" alt="" class="w100"></a>
            <a href="http://www.revistahorse.com.br/RevistaHorse/WebSite/Home/Default.aspx"><img src="/images/graphic/publi/revistahorse.png" alt="" class="w100"></a>
            <a href="/"><img src="/images/graphic/publi/abccm.png" alt=""></a>
        </div>

        <div class="criadouros">
          <div class="footer-title"><span>Criadouros</span></div>
          <a href=""><img src="/images/graphic/publi/sm.png" alt=""></a>
          <a href="http://www.jumentosraf.com.br/"><img src="/images/graphic/publi/raf.png" alt=""></a>
          <a href="http://leilao.fazendadovau.com.br/"><img src="/images/graphic/publi/fazendadovau.png" alt=""></a>
          <a href="http://www.fazendapaodeacucar.com.br/"><img src="/images/graphic/publi/fazendapaodeacucar.png" alt=""></a>

        </div>
        
      </div>
    </div>
    </div>

  </div>
</footer>