<div class="wrapper">
  <header>
  <div class="header-upside">
    <img src="./images/graphic/layout/h1_logo.png" alt="">   
      <div class="social-links">
        <a href="/"><img src="./images/graphic/layout/facebook_social_icon.png" alt=""></a>
      </div>
  </div>

  <div class="header-menu">
    <nav>
      <ul>
        <li>
          <a href="/" class="link">HOME</a>
            <a href="/" class="link">EVENTOS</a>
            <a href="" class="link">FOTOS</a>
            <a href="" class="link">VIDEOS</a>
            <a href="" class="link">LIVROS</a>
            <a href="" class="link">CONTATO</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
</div>
