<div class="wrapper">

  <header>
    <div class="header-upside">
      <img src="./images/graphic/layout/h1_logo.png" alt="">   
        <div class="social-links">
          <a href="/"><img src="./images/graphic/layout/facebook_social_icon.png" alt=""></a>
        </div>
    </div>

    <div class="header-menu">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
      <nav>
        <ul>
          <li>
            <a href="/" class="link">HOME</a>
            <a href="/eventos" class="link">EVENTOS</a>
            <a href="/fotos" class="link">FOTOS</a>
            <a href="/videos" class="link">VIDEOS</a>
            <a href="/livros" class="link">LIVROS</a>
            <a href="/contato" class="link">CONTATO</a>
          </li>
        </ul>
      </nav>
    </div>

    
    <div class="phone-menu" id="myTopnav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="http://">HOME</a>
      <a href="http://">FOTOS</a>
      <a href="http://">VIDEOS</a>
      <a href="http://">LIVROS</a>
      <a href="http://">CONTATO</a>
      <div class="dropdown">
        <button class="dropbtn">JUMENTOS
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="http://">PADRÃO DA RAÇA</a>
          <a href="http://">PADRÃO DA RAÇA</a>
          <a href="http://">PADRÃO DA RAÇA</a>
          <a href="http://">PADRÃO DA RAÇA</a>
          <a href="http://">PADRÃO DA RAÇA</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">MULAS E BURROS
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="http://">PADRÃO DA RAÇA</a>
          <a href="http://">PADRÃO DA RAÇA</a>
          <a href="http://">PADRÃO DA RAÇA</a>
          <a href="http://">PADRÃO DA RAÇA</a>
          <a href="http://">PADRÃO DA RAÇA</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">OUTROS
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="http://">PADRÃO DA RAÇA</a>
          <a href="http://">PADRÃO DA RAÇA</a>
          <a href="http://">PADRÃO DA RAÇA</a>
          <a href="http://">PADRÃO DA RAÇA</a>
          <a href="http://">PADRÃO DA RAÇA</a>
        </div>
      </div>
      
    </div>

  </header>
</div>





