<aside class="sidebar">
      <section class="sidebar-menu">
        <div class="sidebar-block">
          <h3 class="sidebar-title">JUMENTOS</h3>
          <div class="sidebar-links">
            <a href="" class="link"></a>
            <a href="" class="link"></a>
            <a href="" class="link"></a>
            <a href="" class="link"></a>
            <a href="" class="link"></a>
          </div>
        </div>
        <!-- Jumentos-->

        <div class="sidebar-block">
          <h3 class="sidebar-title">MULAS E BURROS</h3>
          <div class="sidebar-links">
            <a href="" class="link"></a>
            <a href="" class="link"></a>
            <a href="" class="link"></a>
            <a href="" class="link"></a>
            <a href="" class="link"></a>
          </div>
        </div>
        <!-- mulas e burros-->

        <div class="sidebar-block">
          <h3 class="sidebar-title">outros</h3>
          <div class="sidebar-links">
            <a href="" class="link"></a>
            <a href="" class="link"></a>
            <a href="" class="link"></a>
            <a href="" class="link"></a>
            <a href="" class="link"></a>
          </div>
        </div>
        <!-- Outros-->
      </section>

      <section class="sidebar-banners">
        <div class="banner">
          <a href=""><img src="" alt=""></a>
        </div>
        <div class="banner">
          <a href=""><img src="" alt=""></a>
        </div>
        <div class="banner">
          <a href=""><img src="" alt=""></a>
        </div>
        <div class="banner">
          <a href=""><img src="" alt=""></a>
        </div>
      </section>
      <!-- sidebar-banners -->

</aside>