<aside>
  <section class="sidebar-menu">
    <div class="sidebar-block">
      <h3 class="sidebar-title">JUMENTOS</h3>
        <div class="sidebar-links">
          <ul>
            <li><a href="" >PADRÃO DA RAÇA</a></li>
            <li><a href="" >QUALIDADE</a></li>
            <li><a href="" >TEMPERAMENTO</a></li>
            <li><a href="" >ORIGEM</a></li>
            <li><a href="" >CURIOSIDADE</a></li>
          </ul>  
      </div>
    </div>
        <!-- Jumentos-->

        <div class="sidebar-block">
          <h3 class="sidebar-title">MULAS E BURROS</h3>
          <div class="sidebar-links">
            <ul>
              <li><a href="" >ORIGEM</a></li>
              <li><a href="" >PADRÃO DA RAÇA</a></li>
              <li><a href="" >QUALIDADE</a></li>
              <li><a href="" >TEMPERAMENTO</a></li>
              <li><a href="" >CURIOSIDADE</a></li>
            </ul>        
          </div>
        </div>
        <!-- mulas e burros-->

        <div class="sidebar-block">
          <h3 class="sidebar-title">outros</h3>
          <div class="sidebar-links">
            <ul>
              <li><a href="" >MULADEIOS</a></li>
              <li><a href="" >TROMPEIRO</a></li>
              <li><a href="" >MARCHAS</a></li>
              <li><a href="" >ARTIGOS</a></li>
            </ul>
          </div>
        </div>
        <!-- Outros-->
  </section>
  <section class="sidebar-banners">
        <div class="banner">
          <a href=""><img src="" alt=""></a>
        </div>
        <div class="banner">
          <a href=""><img src="" alt=""></a>
        </div>
        <div class="banner">
          <a href=""><img src="" alt=""></a>
        </div>
        <div class="banner">
          <a href=""><img src="" alt=""></a>
        </div>
  </section>
  <!-- sidebar-banners -->

</aside>